In [ ]:
! whoami

In [ ]:
! hostname

In [ ]:
! date

# Tugas: Menganalisa Perusahaan Fortune 500

Fortune 500 adalah sebuah daftar 500 perusahaan yang diterbitkan setiap tahun oleh majalah bisnis **Fortune**. Daftar ini berisi 500 perusahaan publik terbesar di Amerika Serikat berdasarkan pendapatan kotor mereka dalam tahun fiskal sebelumnya. Dalam daftar ini, perusahaan-perusahaan tersebut diurutkan berdasarkan pendapatan tahunan mereka, dan merupakan indikator utama dalam mengukur keberhasilan dan ukuran perusahaan di pasar Amerika Serikat.

Daftar Fortune 500 sering digunakan sebagai referensi oleh para pelaku bisnis, investor, dan pengamat ekonomi untuk mengetahui tren dalam dunia korporasi, serta untuk memperoleh wawasan tentang kekuatan dan stabilitas perusahaan-perusahaan terkemuka di Amerika Serikat.

## Persiapan

Pastikan telah mengerjakan **latihan**, karena memelukan user dan database yang telah dibuat pada latihan.

## Menghubungkan Jupyter Notebook ke Database

In [ ]:
%load_ext sql
%sql postgresql://user01:password@localhost:5432/training
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql

SELECT version();

## Membuat Tabel

In [ ]:
%%sql
DROP TABLE IF EXISTS fortune500

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS fortune500 (
  rank INTEGER,
  title VARCHAR(100),
  name VARCHAR(100),
  ticker VARCHAR(100),
  url VARCHAR(255),
  hq VARCHAR(100),
  sector VARCHAR(50),
  industry VARCHAR(50),
  employees INTEGER,
  revenues INTEGER,
  revenues_change REAL,
  profits NUMERIC,
  profits_change REAL,
  assets NUMERIC,
  equity NUMERIC

);

## Download Dataset

Dataset yang digunakan adalah dataset perusahaan yang termasuk dalam Fortune 500 pada tahun 2017

In [ ]:
! wget https://www.dropbox.com/s/l3rgaxvdmg0m3ld/fortune500.csv -P dataset

## Import Dataset ke dalam Tabel fortune500

Buka **PostgreSQL shell** melalui **terminal WSL** dengan perintah berikut

psql -U user01 -d training

Untuk mengimport dataset ke dalam tabel fortune500, pada **PostgreSQL shell** jalankan perintah berikut

\COPY fortune500 FROM '/home/[user-name]/dataset/fortune500.csv'  DELIMITER ',' NULL 'NA' CSV HEADER;

catatan:
**[user-name]** disesuaikan dengan username yang digunaka

Periksan table fortune500 melalui Jupyter notebook

In [ ]:
%%sql
SELECT count(*) FROM fortune500

In [ ]:
%%sql
SELECT * FROM fortune500
LIMIT 5

## Jawab Dan Lengkapi Perintah SQL

Berikut beberapa tugas SQL yang perlu kamu lengkapi.
Gunakan dataset Fortune 500 yang sudah di-load ke tabel **fortune500**. 

Lengkapi perintah SQL yang bertanda ___

### 1. Berapa jumlah record pada tabel fortune500 ?

In [ ]:
%%sql

SELECT ___
FROM fortune500

### 2. Tampilkan Sector apa saja yang ada dalam Fortune500 !

Gunakan fungsi **distinct** dan urutkan berdasarkan abjad

In [ ]:
%%sql

SELECT ___
FROM fortune500
ORDER BY sector

### 3. Tampilkan semua perusahaan yang berada di sektor teknologi

Output yang ditampilkan adalah **rank, title, name dan ticker**

In [ ]:
%%sql

SELECT ___, ___, ___, ___
FROM fortune500
WHERE ___

### 4. Tampilkan semua perusahaan yang tidak memiliki kode saham (ticker) !

Output yang ditampilkan adalah **rank, title, name dan ticker**

***Petunjuk:*** 

Gunakan filter **ticker is null**

In [ ]:
%%sql

SELECT ___, ____, ___, ___
FROM fortune500
WHERE ___

### 5. Tampilkan semua perusahaan yang memiliki panjang kode saham hanya 2 karakter

Output yang ditampilkan adalah **rank, title, name, ticker dan sector**

In [ ]:
%%sql

SELECT ___, ___, ___, ___, ___
FROM fortune500
WHERE ___

Ada berapa perusahaan yang memiliki panjang kode sahamnya 2?

In [ ]:
%%sql

SELECT ___
FROM fortune500
WHERE ___

### 6. Berapa revenue Apple, Amazon, Facebook, dan Google?

Output yang ditampilkan adalah **rank, title, revenues, jumlah karyawan (employees)**

_**Petunjuk:**_

Kode saham (ticker) untuk Apple: AAPL, Amazon: AMZN, Facebook: FB, Google: GOOGL

In [ ]:
%%sql

SELECT ___, ___, ___, ___
FROM fortune500
WHERE ___

### 7. Tampilkan 10 perusahaan yang memiliki pendapatan (revenues) terkecil

Output yang ditampilkan adalah **rank, title, revenues**

Catatan: Jumlah revenue yang ditampilkan dalam **juta dolar**

In [ ]:
%%sql

SELECT ___, ___, ___
FROM fortune500
ORDER BY ___
LIMIT ___

### 8. Tampilkan perusahaan yang memiliki pendapatan (revenues) diatas 150.000 juta dolar

Output yang ditampilkan adalah **rank, title, sector, revenues** dan urutkan berdasarkan revenue yang terbesar

Catatan: Jumlah pendapatan (revenues) yang ada dalam tabel fortune500 sudah dalam satuan juta dolar

In [ ]:
%%sql

SELECT ___, ___, ___, ___
FROM fortune500
WHERE ___
ORDER BY ___

### 9. Berapa jumlah perusahaan yang memiliki pendapatan diantara 100.000 dan 200.000 juta dolar ?

In [ ]:
%%sql

SELECT ___
FROM fortune500
WHERE ___

### 10. Tampilkan 10 perusahaan yang mengalami penurunan keuntungan terbesar !

Output yang ditampilkan adalah **title, sector, revenues, profits, profits_change dan revenues_change**

_**Petunjuk:**_

Kolom **profits_change** adalah perubahan keuntungan perusahaan dibandingkan tahun sebelumnya. Jika bernilai positif maka perusahaan tersebut memiliki keuntungan, dan jika negatif maka perusahaan tersebut mengalami penurunan keuntungan.

In [ ]:
%%sql

-- Tampilkan title, name, revenues, profits, profits_change
SELECT ___, ___, ___, ___, ___, ___
FROM fortune500
ORDER BY ___
LIMIT ___

### 11. Tampilkan 10 perusahaan yang sedang naik daun (memiliki pertumbuhan pendapatan tertinggi) !

Output yang ditampilkan adalah **title, sector, revenues, profits, profits_change dan revenues_change**

_**Petunjuk:**_

Kolom **revenues_change** adalah perubahan keuntungan perusahaan dibandingkan tahun sebelumnya dalam persentase. Jika bernilai positif maka perusahaan tersebut memiliki keuntungan, dan jika negatif maka perusahaan tersebut mengalami penurunan keuntungan.

In [ ]:
%%sql

SELECT ___, ___, ___, ___, ___, ___
FROM fortune500
ORDER BY ___
LIMIT ___

### 12. Tampilkan 10 perusahaan yang memiliki rasio profit terhadap pendapatan (Profit Margin) tertinggi

Output yang ditampilkan adalah **name, sector, revenues, profits dan profit_margin**

_**Petunjuk:**_

**profit_margin** adalah rasio profit terhadap pendapatan, yang dihitung dalam persentase profits dibagi revenues. Rumusnya

            ROUND((profits / revenues) * 100, 2)

Buang terlebih dahulu profits dan revenues yang bernilai null

In [ ]:
%%sql
SELECT ___, 
       ___, 
       ___, 
       ___, 
       ___ AS profit_margin
FROM fortune500
WHERE ___
ORDER BY ___
LIMIT ___

### 13. Sektor mana yang paling efisien menghasilkan profit dibandingkan asetnya ?

Output yang ditampilkan adalah **sector, return_on_assets**

_**Petunjuk:**_

**return_on_assets** adalah perbandingan antara profit dan asset. Hal ini untuk menunjukkan efisiensi operasional sektor, karena aset fisik lebih kecil tapi menghasilkan profit besar. Gunakan formula berikut untuk menghitung return_on_assets

            ROUND(SUM(profits) / NULLIF(SUM(assets), 0) * 100, 2)

In [ ]:
%%sql

SELECT ___, 
       ___ AS return_on_assets
FROM fortune500
GROUP BY ___
ORDER BY ___

### 14. Kota mana yang paling banyak menjadi markas perusahaan Fortune 500?

Output yang ditampilkan adalah **hq dan total_companies**

_**Petunjuk:**_

**hq** adalah kota yang dijadikan kantor utama bagi perusahaan.

In [ ]:
%%sql

SELECT ___, ___ AS total_companies
FROM fortune500
GROUP BY ___
ORDER BY ___
LIMIT ___

### 15. Tampilkan 10 perusahaan yang memiliki struktur keuangan paling kuat (rasio equity/assets terbesar)?

Output yang ditampilkan adalah **title, sector dan equity_ratio**

_**Petunjuk:**_

Perusahaan dengan **rasio equity** tinggi menunjukkan stabilitas keuangan dan ketergantungan rendah pada utang. Untuk menghitung rasio equity gunakan formula berikut:

            ROUND((equity / NULLIF(assets, 0)) * 100, 2)

In [ ]:
%%sql

SELECT ___, 
       ___,
       ___ AS ___
FROM fortune500
WHERE ___
ORDER BY ___
LIMIT ___

### 16. Tampilkan 10 sektor dengan pertumbuhan pendapatan rata-rata tertinggi !

Output yang ditampilkan adalah **sector, dan avg_revenue_growth**

_**Petunjuk:**_

avg_revenue_growth dihitung dengan menggunakan rata-rata revenues_change

In [ ]:
%%sql

SELECT ___,
       ___
FROM fortune500
GROUP BY ___
ORDER BY ___
LIMIT ___

### 17. Tampilkan 10 perusahaan dengan aset tertinggi !

Output yang ditampilkan adalah **title, sector, hq, assets**

In [ ]:
%%sql

-- your code is here

### 18. Hitung jumlah kelompok perusahaan small, medium and big

Pengelompokkan tersebut berdasarkan perhitungan jumlah karyawan, dengan aturan sebagai berikut
- SMALL --> jumlah karyawan lebih kecil atau sama dengan 200
- MEDIUM --> jumlah karyawan lebih besar dari 200 dan lebih kecil atau sama dengan 1000
- BIG --> jumlah karyawan lebih besar dari 1000


***Petunjuk***
- gunakan case when
- gunakan nested query (query di dalam query) untuk mengelompokkan

In [ ]:
%%sql

SELECT ___, ___ num_company
FROM
(
  SELECT
        title,
        CASE ___

        END company_type
  FROM fortune500
) t
-- Kelompokkan dan urutkan berdasarkan company_type
GROUP BY ___
ORDER BY ___

### 19. Hitung rata-rata revenue per employee yang dikelompokkan berdasarkan sector

Output yang ditampilkan **sector dan rev_per_employee**

***Petunjuk***

Rata-rata revenue per employee --> avg(revenues/employees::numeric)

In [ ]:
%%sql

-- your code is here

### 20. Tampilkan 5 industri yang memiliki keuntungan negatif (rugi) paling banyak?

Output yang ditampilkan **industry dan num_companies**

In [ ]:
%%sql

-- your code is here

# JIKA SUDAH SELESAI, JANGAN LUPA DISAVE #