In [ ]:
! whoami

In [ ]:
! hostname

In [ ]:
! pwd

In [ ]:
! date

# Tugas : Eksplorasi Dataset Adidas Sales Menggunakan Shell

### 0. Persiapan Dataset

Download dataset Adidas Sales

Link: https://github.com/project303/DEV130/raw/refs/heads/main/dataset/adidas-sales-dataset.zip


***Hints:***
1. Gunakan wget

In [ ]:
# type and run your answer here

Pastikan **adidas-sales-dataset.zip** telah terdownload. Gunakan perintah **ls**

In [ ]:
# type and run your answer here

Extract file adidas-sales-dataset.zip

In [ ]:
# type and run your answer here

Tampilkan semua file dan direktori beserta seluruh atributnya

In [ ]:
# type and run your answer here

Buat direktori **dataset**

In [ ]:
# type and run your answer here

Pindahkan file **adidas-sales-dataset.tsv** ke direktori **dataset**

In [ ]:
# type and run your answer here

Hapus file adidas-sales-dataset.zip

In [ ]:
# type and run your answer here

### 1. Tampilkan 10 record pertama

In [ ]:
# type and run your answer here

### 2. Tampilkan 10 record terakhir

In [ ]:
# type and run your answer here

### 3. Berapa jumlah record dataset Adidas Sales

In [ ]:
# type and run your answer here

### 4. Tampilkan 20 record pertama

In [ ]:
# type and run your answer here

Rapikan tampilan menggunakan **csvlook**

***Hinst***
1. Pastikan cvskit telah terinstall
2. Penggunaannya: head .... | csvlook -d $'\t'

In [ ]:
# type and run your answer here

### 5. Tampilkan Top 10 Sales Terbesar

**Hinst:**
1. Gunakan perintah dengan pola: **tail** .. | **sort** .. | **head**
2. Untuk mengexclude header, pada bagian tail gunakan opsi **-n +2**
3. Gunakan field **Total Sales** yang berada pada kolom ke 10
4. Untuk mengurutkan kolom ke 10 desc, gunakan tipe kolom **numerik**, sebagaimana dijelaskan pada **slide 32**

In [ ]:
# type and run your answer here

! tail -n +2 ... | sort -t$'\t' ... | ...

Tampilkan hanya field City, Product, dan Total Sales

**Hinst:**
1. Gunakan kolom ke 6, 7, dan 10
2. Tambahkan perintah awk pada kode sebelumnya
3. Penggunaan awk dijelaskan pada **slide 34**

In [ ]:
# type and run your answer here

Tampilkan hanya field City, Product, dan Total Sales.

Ubah delimiter menjadi pipe "|"

**Hinst:**
1. Gunakan opsi **OFS** pada awk, sebagaimana dijelaskan pada **slide 25**

In [ ]:
# type and run your answer here

### 6. Tampilkan 10 produk dengan operating profit terkecil

Tampilkan fied **Product, Units Sold, Total Sales, dan Operating Profit**

Hinst:
1. Gunakan dan modifikasi kode sebelumnya
2. Output kolom ke 7, 9, 10,  dan 11

In [ ]:
# type and run your answer here

### 7. Ratailer mana saja yang menjual produk Adidas?

**Hinst:**
1. Gunakan perintah: **awk** .. | **tail** .. | **sort** | **uniq**
2. Retailer berada pada kolom ke 1
3. Gunakan tail untuk mengexclude header

In [ ]:
# type and run your answer here

### 8. Produk apa saja yang dijual oleh Adidas?

Hinst:
1. Produk berada pada kolom ke 7

In [ ]:
# type and run your answer here